version: 2.1

jobs:
  build:
    docker:
      - image: python:3.8
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - run:
          name: Run tests
          command: pytest unit_test.py 

workflows:
  version: 2
  build:
    jobs:
      - build
